/* mobile first - adding ABOUT section */
@import url(style.css);

#about {
    display: flex;
    flex-direction: column;
}

.about-subsectionMain {

}

.about-subsectionMain_heading {

}

.about-subsectionMain_subtext {

}

.about-subsection {
    padding: 25px;
}

.about-section_style01 {
    color: var(--black);
    background-color: var(--tan);
}

.about-section_style02 {
    color: var(--white);
    background-color: var(--brown)
}

.about-section_style03 {
    color: var(--white);
    background-color: var(--black)
}

.about-subsection_button {
    width: 100%;
    height: 25px;
    margin: auto;
    background-color: var(--tan);
    color: var(--brown);
    font-weight: bold;
}