@import url(./style.css);

.mobileNavBar_container {
    display: none;
}

.mobileNavbar {
    display: none;
}

.mobileNavBar_button {
    display: none;
}

@media screen and (max-width: 750px) {
    .mobileNavBar_button {
        display: flex;
        text-align: left;
        padding: 25px 0px 25px 25px;
        position: fixed;
        top: 0;
        left: 0;
        height: 110px;
        width: 200px;
        color: var(--white);
        background-color: var(--brown);
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        cursor: pointer;
        z-index: 100000;
    }

    .mobileNavBar_container {
        display: block;
        position: relative;
        z-index: 100;
    }

    .mobileNavBar {
        position: absolute;
        bottom: -550px;
        left: 0;
        width: 100vw;
        height: auto;
        background-color: var(--tan);
    }

    /* Styles removed/added during hide/show functionality openSesame() */
    .mobileNavBar-hidden {
        display: none;
    }

    .mobileNavBar-visible {
        display: block;
    }

    .mobileNavBar_heading {
    }

    .mobileNavBar_heading_hours {
        background-color: var(--white);
        width: auto;
        padding: 10px;
    }

    .mobileNavBar_heading_hours li {
        font-size: .75em;
        margin-top: 10px;
        text-align: left;
    }

    .mobileNavBar_link {
        color: var(--black);
        font-size: 1.5em;
        font-weight: light;
        margin-top: 30px;
    }
}