@import url(../style.css);

#menu {
    background-color: var(--green);
    background-image: url(../assets/image03.png);
    padding: 7.5vw;
}

.menu-heading {
    color: var(--white);
}

.menu-section {
    width: 100%;
    height: auto;
    margin: 7.5vw auto 0 auto;
    background-color: var(--tan);
}

.menu-sectiosWrapper {
        
}

.menu-sectiosWrapper_inner {
    margin: auto;
}

.menu-section01 {

}

.menu-section02 {

}

.menu-section03 {

}

.menu-sectionHeading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--white);
}

.menu-sectionList {
    width: auto;
    list-style: none;
    margin: 0;
    padding: 7.5vw;
}

.menu-sectionListItem {
    
}

.menu-sectionListItem_heading {
    margin-top: 7.5vw;
}

.menu-sectionListItem_headingNoMarginTop {
    margin-top: 0vw;
}

.menu-sectionListItem_paragraph {
    margin-top: 5px;
}




@media screen and (min-width: 500px) and (max-width: 750px) {
    #menu {
        background-color: var(--green);
        padding: 7.5vw;
    }
    
    .menu-heading {
        color: var(--white);
    }

    .menu-sectionsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-sectionsWrapper_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: auto;
    }
    
    .menu-section {
        width: 100%;
        height: auto;
        margin: 5vw auto 0 auto;
        background-color: var(--tan);
    }
    
    .menu-section01 {
    
    }
    
    .menu-section02 {
    
    }
    
    .menu-section03 {
    
    }
    
    .menu-sectionHeading {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: var(--white);
    }
    
    .menu-sectionList {
        width: auto;
        list-style: none;
        margin: 0;
        padding: 5vw;
    }
    
    .menu-sectionListItem {
        
    }
    
    .menu-sectionListItem_heading {
        margin-top: 5vw;
    }
    
    .menu-sectionListItem_headingNoMarginTop {
        margin-top: 0vw;
    }
    
    .menu-sectionListItem_paragraph {
        margin-top: 5px;
    }
}

@media screen and (min-width: 751px) {
    #menu {
        background-color: var(--green);
        /* padding: 7.5vw; */
    }
    
    .menu-heading {
        color: var(--white);
    }

    .menu-sectionsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: auto;
    }

    .menu-sectionsWrapper_inner {
        height: 100%;
        margin-left: 2.5vw;
    }
    
    .menu-section {
        width: auto;
        max-width: 40vw;
        height: auto;
        min-height: 100%;
        margin: 0;
        background-color: var(--tan);
    }

    .menu-sectionsWrapper_inner .menu-section {
        margin-bottom: 2.5vw;
    }

    .menu-sectionsWrapper_inner .menu-section:last-of-type {
        margin-bottom: 0vw;
    }
    
    .menu-section01 {
    
    }
    
    .menu-section02 {
    
    }
    
    .menu-section03 {
    
    }
    
    .menu-sectionHeading {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: var(--white);
    }
    
    .menu-sectionList {
        width: auto;
        list-style: none;
        margin: 0;
        padding: 2.5vw;
    }
    
    .menu-sectionListItem {
        
    }
    
    .menu-sectionListItem_heading {
        margin-top: 2.5vw;
    }
    
    .menu-sectionListItem_headingNoMarginTop {
        margin-top: 0vw;
    }
    
    .menu-sectionListItem_paragraph {
        margin-top: 5px;
    }
}